# AHP

In [210]:
import csv
import numpy as np
import pandas as pd
import graphviz


pd.set_option("display.float_format", lambda x: "%.4f" % x)

In [2]:
header = []
ids = []
data = []
with open("data.csv", "r") as f:
    reader = csv.reader(f)
    header = next(reader)[1:]
    for row in reader:
        name = row[0]
        ids.append(name)
        data.append(list(map(float, row[1:])))
data = np.array(data)
ids = np.array(ids)

In [124]:
d = graphviz.Digraph()

for index, criteria in enumerate(header):
    d.edge("Goal", criteria, f"g{index+1}")
    d.node(str(index), "...")
    d.edge(criteria, str(index))

d

In [280]:
A = np.array(
    [  # C  R  S  C	 B  W, P
        [1, 0, 1, 1, 0, 2, 3],  # CPU
        [3, 1, 0, 1, 0, 2, 2],  # RAM
        [0, 2, 1, 3, 0, 3, 5],  # Storage
        [0, 0, 0, 1, 0, 2, 4],  # Camera
        [2, 2, 2, 2, 1, 9, 7],  # Battery
        [0, 0, 0, 0, 0, 1, 2],  # Weight
        [0, 0, 0, 0, 0, 0, 1],  # Price
    ],
    np.float32,
)

for m in range(A.shape[0]):
    for n in range(A.shape[1]):
        if A[m, n] == 0:
            A[m, n] = 1 / A[n, m]

pd.DataFrame(A)

       0      1      2      3      4      5      6
0 1.0000 0.3333 1.0000 1.0000 0.5000 2.0000 3.0000
1 3.0000 1.0000 0.5000 1.0000 0.5000 2.0000 2.0000
2 1.0000 2.0000 1.0000 3.0000 0.5000 3.0000 5.0000
3 1.0000 1.0000 0.3333 1.0000 0.5000 2.0000 4.0000
4 2.0000 2.0000 2.0000 2.0000 1.0000 9.0000 7.0000
5 0.5000 0.5000 0.3333 0.5000 0.1111 1.0000 2.0000
6 0.3333 0.5000 0.2000 0.2500 0.1429 0.5000 1.0000

## Calculation of weights

In [279]:
def get_weights_1(A):
    return (A / A.sum(axis=0)).sum(axis=1) / len(A)


pd.DataFrame(get_weights_1(A))

       0
0 0.1201
1 0.1461
2 0.2044
3 0.1213
4 0.3087
5 0.0590
6 0.0404

In [218]:
def get_weights_2(A, rank=2):
    for _ in range(rank - 1):
        A = np.dot(A, A)
    row_sum = A.sum(axis=1)
    return row_sum / row_sum.sum()


pd.DataFrame(get_weights_2(A, 5))

       0
0 0.1198
1 0.1461
2 0.2040
3 0.1200
4 0.3111
5 0.0588
6 0.0403

## Consistency check

In [281]:
def is_consistent(A, RI):
    eigenvalues, _ = np.linalg.eig(A)
    max_eigenvalue = max(eigenvalues)
    CI = (max_eigenvalue - len(A)) / (len(A) - 1)
    CR = CI / RI
    print(f"Max eigenvalue: {max_eigenvalue}")
    print(f"CI: {CI}")
    print(f"CR: {CR}")
    return CR <= 0.1


RI_7 = 1.32
is_consistent(A, RI_7)

Max eigenvalue: (7.398891448974609+0j)
CI: (0.06648190816243489+0j)
CR: (0.05036508194123855+0j)

True

Examples from the lecture slides:

In [284]:
is_consistent(
    np.array(
        [
            [1, 1 / 3, 1, 3],
            [3, 1, 3, 9],
            [1, 1 / 3, 1, 3],
            [1 / 3, 1 / 9, 1 / 3, 1],
        ],
    ),
    0.9,
)

Max eigenvalue: (3.999999999999999+0j)
CI: (-2.9605947323337506e-16+0j)
CR: (-3.289549702593056e-16+0j)

True

In [283]:
is_consistent(
    np.array(
        [
            [1, 2, 5, 1],
            [1 / 2, 1, 3, 2],
            [1 / 5, 1 / 3, 1, 1 / 4],
            [1, 1 / 2, 4, 1],
        ],
    ),
    0.9,
)

Max eigenvalue: (4.191275054974821+0j)
CI: (0.06375835165827373+0j)
CR: (0.07084261295363749+0j)

True

## Recreating an inconsistent matrix

In [287]:
A = np.array(
    [  # C  R  S  C	 B  W, P
        [1, 0, 4, 9, 0, 2, 3],  # CPU
        [3, 1, 0, 7, 0, 9, 2],  # RAM
        [0, 2, 1, 3, 0, 3, 5],  # Storage
        [0, 0, 0, 1, 0, 2, 4],  # Camera
        [2, 2, 2, 2, 1, 9, 7],  # Battery
        [0, 0, 0, 0, 0, 1, 2],  # Weight
        [0, 0, 0, 0, 0, 0, 1],  # Price
    ],
    np.float32,
)

for m in range(A.shape[0]):
    for n in range(A.shape[1]):
        if A[m, n] == 0:
            A[m, n] = 1 / A[n, m]

pd.DataFrame(A)

       0      1      2      3      4      5      6
0 1.0000 0.3333 4.0000 9.0000 0.5000 2.0000 3.0000
1 3.0000 1.0000 0.5000 7.0000 0.5000 9.0000 2.0000
2 0.2500 2.0000 1.0000 3.0000 0.5000 3.0000 5.0000
3 0.1111 0.1429 0.3333 1.0000 0.5000 2.0000 4.0000
4 2.0000 2.0000 2.0000 2.0000 1.0000 9.0000 7.0000
5 0.5000 0.1111 0.3333 0.5000 0.1111 1.0000 2.0000
6 0.3333 0.5000 0.2000 0.2500 0.1429 0.5000 1.0000

In [288]:
is_consistent(A, RI_7)

Max eigenvalue: (8.540485382080078+0j)
CI: (0.256747563680013+0j)
CR: (0.19450573006061592+0j)

False

In [293]:
weights = get_weights_2(A, 5)

reconstructed = np.zeros((len(weights), len(weights)))
for i in range(len(weights)):
    for j in range(len(weights)):
        reconstructed[i, j] = weights[i] / weights[j]

pd.DataFrame(reconstructed)

       0      1      2      3      4      5      6
0 1.0000 0.9131 1.3767 3.3331 0.8079 4.9706 5.4695
1 1.0952 1.0000 1.5078 3.6505 0.8848 5.4439 5.9903
2 0.7264 0.6632 1.0000 2.4210 0.5868 3.6104 3.9728
3 0.3000 0.2739 0.4130 1.0000 0.2424 1.4913 1.6410
4 1.2378 1.1302 1.7041 4.1258 1.0000 6.1526 6.7702
5 0.2012 0.1837 0.2770 0.6706 0.1625 1.0000 1.1004
6 0.1828 0.1669 0.2517 0.6094 0.1477 0.9088 1.0000

Difference between the pairwise comparison matrix and the reconstructed one:

In [294]:
pd.DataFrame(A - reconstructed)

        0       1       2       3       4       5       6
0  0.0000 -0.5797  2.6233  5.6669 -0.3079 -2.9706 -2.4695
1  1.9048  0.0000 -1.0078  3.3495 -0.3848  3.5561 -3.9903
2 -0.4764  1.3368  0.0000  0.5790 -0.0868 -0.6104  1.0272
3 -0.1889 -0.1311 -0.0797  0.0000  0.2576  0.5087  2.3590
4  0.7622  0.8698  0.2959 -2.1258  0.0000  2.8474  0.2298
5  0.2988 -0.0726  0.0564 -0.1706 -0.0514  0.0000  0.8996
6  0.1505  0.3331 -0.0517 -0.3594 -0.0048 -0.4088  0.0000