# Promethee I

In [122]:
import csv
import numpy as np
import pandas as pd

pd.set_option("display.float_format", lambda x: "%.2f" % x)

In [108]:
header = []
ids = []
data = []
with open("data.csv", "r") as f:
    reader = csv.reader(f)
    header = next(reader)[1:]
    for row in reader:
        name = row[0]
        ids.append(name)
        data.append(list(map(float, row[1:])))
data = np.array(data)
ids = np.array(ids)

In [46]:
header

['CPU', 'RAM', 'Memory', 'Camera', 'Battery', 'Weight', 'Price']

In [109]:
pd.DataFrame(ids)

                           0
0          iPhone 15 Pro Max
1              iPhone 15 Pro
2                  iPhone 15
3          iPhone SE the 3rd
4          Samsung S24 Ultra
5               Samsung S24+
6                Samsung S24
7             Samsung S23 FE
8                Pixel 8 Pro
9                    Pixel 8
10                   Pixel 7
11             Oneplus 11 5G
12              Vivo X80 Pro
13             Xiaomi 12 Pro
14  Samsung Galaxy S22 Ultra

In [57]:
pd.DataFrame(data)

       0     1      2      3       4      5       6
0   3.78   8.0  512.0   48.0  4422.0  221.0  1399.0
1   3.78   8.0  512.0   48.0  3274.0  187.0  1299.0
2   3.50   6.0  512.0   48.0  3349.0  171.0  1099.0
3   3.20   4.0  256.0   12.0  2018.0  144.0   579.0
4   3.39  12.0  256.0  200.0  5000.0  232.0  1660.0
5   3.20  12.0  256.0   50.0  4900.0  196.0  1300.0
6   3.20   8.0  256.0   50.0  4000.0  167.0  1030.0
7   2.80   8.0  256.0   50.0  4500.0  209.0   860.0
8   3.00  12.0  128.0   50.0  5050.0  213.0   749.0
9   3.00   8.0  128.0   50.0  4575.0  187.0   499.0
10  2.85   8.0  128.0   50.0  4355.0  197.0   269.0
11  3.19   8.0  128.0   50.0  5000.0  205.0   699.0
12  3.00   8.0  256.0   50.0  4700.0  215.0   900.0
13  3.00   8.0  128.0   50.0  4600.0  204.0   510.0
14  2.80   8.0  128.0  108.0  5000.0  228.0   462.0

In [97]:
is_gain_criteria_list = [1] * 5 + [0] * 2
indifference_thresholds_q = [0.4, 2, 32, 10, 500, 20, 50]
preference_thresholds_p = [1, 4, 128, 20, 1000, 50, 200]
weights = [0.1] * 4 + [0.2] * 3

In [85]:
marginal_preference_indices = np.empty((len(header),) + (len(ids),) * 2)

for c in range(len(header)):
    is_gain_criteria = is_gain_criteria_list[c]
    q = indifference_thresholds_q[c]
    p = preference_thresholds_p[c]
    marginal_preference_index = marginal_preference_indices[c]

    for a in range(len(ids)):
        for b in range(len(ids)):
            va = data[a][c]
            vb = data[b][c]

            d = va - vb if is_gain_criteria else vb - va

            marginal_preference_index[a, b] = (
                1 if d > p else (0 if d <= q else (d - q) / (p - q))
            )

In [86]:
# Weight
pd.DataFrame(marginal_preference_indices[-2])

     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
0  0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00
1  0.47 0.00 0.00 0.00 0.83 0.00 0.00 0.07 0.20 0.00 0.00 0.00 0.27 0.00 0.70
2  1.00 0.00 0.00 0.00 1.00 0.17 0.00 0.60 0.73 0.00 0.20 0.47 0.80 0.43 1.00
3  1.00 0.77 0.23 0.00 1.00 1.00 0.10 1.00 1.00 0.77 1.00 1.00 1.00 1.00 1.00
4  0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00
5  0.17 0.00 0.00 0.00 0.53 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.40
6  1.00 0.00 0.00 0.00 1.00 0.30 0.00 0.73 0.87 0.00 0.33 0.60 0.93 0.57 1.00
7  0.00 0.00 0.00 0.00 0.10 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00
8  0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00
9  0.47 0.00 0.00 0.00 0.83 0.00 0.00 0.07 0.20 0.00 0.00 0.00 0.27 0.00 0.70
10 0.13 0.00 0.00 0.00 0.50 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.37
11 0.00 0.00 0.00 0.00 0.23 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.10
12 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00
13 0.00 0.00 0.00 0.00 0.27 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.13
14 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00

In [98]:
weights_expanded = np.array(weights)[:, np.newaxis, np.newaxis]
weighted_matrices = marginal_preference_indices * weights_expanded
comprehensive_preference_index = np.sum(weighted_matrices, axis=0)

In [99]:
pd.DataFrame(comprehensive_preference_index)

     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
0  0.00 0.20 0.20 0.53 0.30 0.13 0.13 0.20 0.16 0.16 0.19 0.13 0.16 0.16 0.20
1  0.16 0.00 0.00 0.53 0.47 0.13 0.13 0.21 0.20 0.16 0.19 0.13 0.22 0.16 0.34
2  0.40 0.20 0.00 0.40 0.50 0.33 0.10 0.27 0.26 0.12 0.18 0.19 0.28 0.20 0.35
3  0.40 0.35 0.25 0.00 0.40 0.40 0.22 0.40 0.46 0.25 0.30 0.39 0.40 0.30 0.30
4  0.23 0.40 0.40 0.40 0.00 0.10 0.40 0.23 0.20 0.30 0.38 0.30 0.20 0.30 0.33
5  0.20 0.30 0.30 0.40 0.31 0.00 0.26 0.10 0.10 0.20 0.22 0.20 0.10 0.20 0.28
6  0.40 0.29 0.09 0.40 0.40 0.26 0.00 0.15 0.27 0.10 0.17 0.22 0.19 0.21 0.30
7  0.20 0.40 0.40 0.40 0.22 0.20 0.16 0.00 0.10 0.10 0.10 0.10 0.00 0.10 0.10
8  0.35 0.50 0.50 0.40 0.20 0.20 0.50 0.20 0.00 0.10 0.18 0.10 0.23 0.10 0.10
9  0.29 0.40 0.40 0.44 0.37 0.20 0.23 0.21 0.24 0.00 0.00 0.20 0.25 0.00 0.14
10 0.23 0.40 0.40 0.60 0.30 0.20 0.20 0.20 0.20 0.20 0.00 0.20 0.20 0.20 0.26
11 0.23 0.40 0.40 0.40 0.25 0.20 0.40 0.15 0.00 0.00 0.06 0.00 0.20 0.00 0.02
12 0.20 0.40 0.40 0.40 0.20 0.20 0.19 0.00 0.10 0.10 0.10 0.10 0.00 0.10 0.10
13 0.20 0.40 0.40 0.43 0.25 0.20 0.24 0.20 0.20 0.00 0.00 0.19 0.20 0.00 0.03
14 0.33 0.50 0.50 0.49 0.20 0.30 0.50 0.30 0.30 0.10 0.16 0.30 0.30 0.10 0.00

In [100]:
positive_flows = np.sum(comprehensive_preference_index, 1)

In [102]:
pd.DataFrame(positive_flows)

      0
0  2.86
1  3.03
2  3.79
3  4.83
4  4.18
5  3.16
6  3.44
7  2.58
8  3.67
9  3.38
10 3.79
11 2.70
12 2.59
13 2.93
14 4.38

In [103]:
negative_flows = np.sum(comprehensive_preference_index, 0)

In [104]:
pd.DataFrame(negative_flows)

      0
0  3.82
1  5.14
2  4.63
3  6.21
4  4.36
5  3.05
6  3.66
7  2.82
8  2.80
9  1.90
10 2.22
11 2.76
12 2.93
13 2.14
14 2.85

# Promethee II

In [105]:
net_flows = positive_flows - negative_flows

In [123]:
arg = np.argsort(net_flows)[::-1]
pd.DataFrame(np.stack((ids[arg], net_flows[arg]), 1), columns=["Model", "Score"])

                       Model                 Score
0                    Pixel 7    1.5723333333333342
1   Samsung Galaxy S22 Ultra    1.5328666666666648
2                    Pixel 8    1.4800000000000004
3                Pixel 8 Pro    0.8618666666666663
4              Xiaomi 12 Pro    0.7873333333333341
5               Samsung S24+   0.11000000000000076
6              Oneplus 11 5G  -0.05146666666666677
7          Samsung S24 Ultra  -0.18413333333333348
8                Samsung S24  -0.21386666666666665
9             Samsung S23 FE  -0.23766666666666714
10              Vivo X80 Pro   -0.3460000000000001
11                 iPhone 15   -0.8427333333333333
12         iPhone 15 Pro Max   -0.9668000000000005
13         iPhone SE the 3rd   -1.3880000000000008
14             iPhone 15 Pro   -2.1137333333333332